h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}

.block {
    background-color: rgba(241, 221, 221 );
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0); 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}


img {
    width: 50%;
    margin: auto;
    display: block;

}
h2 {
    color: rgb(0, 0, 0); text-align: center; background-color: aqua;
border-radius: 10px; 
padding-top: 1%;
padding-bottom: 1%;
}

a {
    text-decoration: none }
a:hover {background-color: black}
a:visited{color:rgb(255, 174, 0)}




